# Server
SERVER_PORT=3000
SERVER_HOST=0.0.0.0
ADMIN_TOKEN=change_me_admin_token
AGENT_API_TOKEN=change_me_agent_token
FRP_TOKEN=change_me_frp_token

# Database
DB_PATH=./storage/db.sqlite

# Storage
STORAGE_DIR=./storage/files

# FRP
FRP_PORT_RANGE_START=20000
FRP_PORT_RANGE_END=25000
